html,
body {
  font-family: 'Exo 2',
    sans-serif;

}

#header {
  background-color: rgb(75, 75, 75);
}



section:first-of-type {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.349),
    transparent),
    url("images/devboard.png"), linear-gradient(rgb(75, 75, 75), rgb(75, 75, 75));
  background-repeat: no-repeat;
  background-size: auto 160%;
  background-position: center;
  padding: 15vh;
}

#big-picture {
  height: 250px;
  width: auto;
}

.sudo-top {
  position: absolute;
  top: -60px;
}

.text-shadow {
  text-shadow: 1px 1px 1px black;
}