#header {
  background-color: rgb(75, 75, 75);

}

section:first-of-type {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.349),
    transparent),
    url("images/devboard.png");
  background-size: auto 130%;
  background-position: center;
  padding: 15vh;
}